COMPOSE_PROJECT_NAME=distributed-etl-pipeline
ETL_NETWORK_NAME=etl-network
ETL_POSTGRES_CONTAINER=etl-postgres
ETL_POSTGRES_DB=etl_db
ETL_POSTGRES_USER=etl_user
ETL_POSTGRES_PASSWORD=etl_pass
ETL_POSTGRES_PORT=5432
ETL_POSTGRES_VOLUME=etl-postgres-data
ETL_MYSQL_CONTAINER=etl-mysql
ETL_MYSQL_DB=etl_db
ETL_MYSQL_USER=etl_user
ETL_MYSQL_PASSWORD=etl_pass
ETL_MYSQL_ROOT_PASSWORD=root_pass
ETL_MYSQL_PORT=3306
ETL_MYSQL_VOLUME=etl-mysql-data
ETL_SQLITE_CONTAINER=etl-sqlite-init
ETL_PGADMIN_CONTAINER=etl-pgadmin
ETL_PGADMIN_EMAIL=admin@etl.local
ETL_PGADMIN_PASSWORD=admin123
ETL_PGADMIN_PORT=5050
ETL_PGADMIN_VOLUME=etl-pgadmin-data
ETL_API_MOCK_PORT=8081